<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata for character encoding and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="style.css">

    <!-- Title of the webpage -->
    <title>Signup</title>
</head>

<body>
    <!-- Container for the signup form -->
    <div class="form-container">
        <h2>Signup</h2> <!-- Heading for the signup form -->

        <!-- Form for user signup, posts data to /signup endpoint -->
        <form action="/signup" method="post">
            <!-- Form group for username input -->
            <div class="form-group">
                <label for="name">Name:</label> <!-- Label for username input field -->
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>

            <!-- Form group for password input -->
            <div class="form-group">
                <label for="password">Password:</label> <!-- Label for password input field -->
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            <!-- Submit button for the form -->
            <button type="submit" class="submit-btn">SignUp</button>
        </form>
    </div>
</body>

</html>